{% extends "base.html" %}
{% load humanize %}
{% block content %}
 <!-- Header-->
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">

                <h3>جزئیات سفارش</h3>

                {{ order }}<br>
                {{ items }}

                <div class="card">
                    <div class="card-header">
                        {{order.id}} - {{ order.amount_paid|intcomma }}سفارش
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>

                <a href="{% url 'orders' %}" class="btn btn-primary">بازگشت به سفارشات</a>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}